@import "../../style/style.scss";

.footer {
    margin-top: 170px;
    background: #2C2C2C;
    &__container {
        display: flex;
        max-width: 1280px;
        margin: 0 auto;
        &__col1 {
            margin: 58px 0px;
            margin-right: 60px;
            flex:1;
            &__logo {
                width: 145px;
                height: 94px;
                cursor: pointer;
            }
        }
        &__col2 {
            margin: 58px 80px;
            flex:1;
            &__list__item_title {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color:#ffffff;
            }
            &__list__item:nth-child(2) {
                margin-top: 25px;
            }
            &__list__item {
                margin-top: 16px;
                color:#ffffff;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                cursor: pointer;
                transition: all ease-in-out 300ms;
            }
            &__list__item:hover {
                opacity: 0.8;
            }
        }
        &__col3 {
            margin: 58px 60px;
            flex:1;
            &__list__item {
                display: flex;
                align-items: center;
                color:#ffffff;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                cursor: pointer;
                transition: all ease-in-out 300ms;
            }
            &__list__item:nth-child(1n+1),&__list__item:nth-child(2n+1) {
                margin-top: 20px;
            }
            &__list__item img:first-child {
                width: 13px;
                height: 16px;
                margin-right: 15px;
            }
            &__list__item img:nth-child(2) {
                width: 16px;
                height: 16px;
                margin-right: 15px;
            }
            &__list__item:hover {
                opacity: 0.8;
            }
        }
        &__col4 {
            margin: 58px 80px;
            flex:1;
            &__list p {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;
            }
            &__list img {
                transition: all ease-in-out 300ms;
            }
            &__list img:nth-child(2) {
                width: 10px;
                height: 19px;
                margin-right: 20px;
                margin-top: 16px;
                cursor: pointer;
            }
            &__list img:nth-child(3) {
                width: 22px;
                height: 17px;
                margin-right: 20px;
                cursor: pointer;
            }
            &__list img:nth-child(4) {
                width: 20px;
                height: 20px;
                margin-right: 20px;
                cursor: pointer;
            }
            &__list img:nth-child(5) {
                width: 14px;
                height: 19px;
                cursor: pointer;
            }
            &__list img:hover {
                filter: brightness(0.8);
            }
        }
    }
    hr {
        background-color: #ffffff;
        height: 0.8px;
    }
    &__message {
        text-align: center;
        padding: 30px 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #ffffff;
    }
}