.footer-main-container {
    max-width: 443.6px;
    margin: 42.5px auto 0 auto;
}
.footer-main-col {
    display: flex;
    align-items: center;
}
.footer-main-logo-container {
    position: relative;
    width: 35px;
    height: 34.94px;
}
.footer-main-logo {
    position: absolute;
    bottom: 12px;
    left: 6px;
    width: 100%;
}
.footer-main-col-item {
    margin-right: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-main-bottom-lines-container {
    margin-top: 30.57px;
    display: flex;
    justify-content: center;
    padding-bottom: 21.27px;
}
.footer-main-bottom-lines {
    margin: 0 10px;
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 60px;
    bottom: 13px;
}
.footer-main-bottom-container {
    width: 29.3px;
    height: 28.16px;
}
.footer-main-bottom-logo {
    width: 100%;
}